
.contenedor {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
}

h1 {
    position: absolute;
width: 300px;
height: 70px;
left: 608px;
top: 99px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 28px;
line-height: 34px;

color: #000000;
}
.uno {
    position: absolute;
width: 201px;
height: 29px;
left: 251px;
top: 201px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 29px;

color: #000000;
}
.titulo {
    position: absolute;
width: 337px;
height: 31px;
left: 251px;
top: 264px;

background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.28);
box-sizing: border-box;
border-radius: 15px;
}
.dos {
    position: absolute;
width: 154px;
height: 29px;
left: 660px;
top: 201px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 29px;

color: #000000;
}
.fecha {
    position: absolute;
width: 190px;
height: 31px;
left: 660px;
top: 262px;
background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.28);
box-sizing: border-box;
border-radius: 15px;
}
.tres {
    position: absolute;
width: 150px;
height: 29px;
left: 928px;
top: 201px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 29px;

color: #000000;
}
.hora {
    position: absolute;
width: 190px;
height: 31px;
left: 921px;
top: 262px;

background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.28);
box-sizing: border-box;
border-radius: 15px;
}
.cuatro {
    position: absolute;
width: 101px;
height: 29px;
left: 252px;
top: 350px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 29px;

color: #000000;
}
.nombre {
    position: absolute;
width: 337px;
height: 31px;
left: 251px;
top: 413px;

background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.28);
box-sizing: border-box;
border-radius: 10px;
}
.cinco {
    position: absolute;
    left: 660px;
    top: 350px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
}
.tlf {
    position: absolute;
width: 300px;
height: 31px;
left: 621px;
top: 413px;

background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.28);
box-sizing: border-box;
border-radius: 10px;
}
.descripcion {
    position: absolute;
    left: 251px;
    top: 540px;
    font-family: Montserrat;
    font-size: 24px;
}
.recuadro {
    position: absolute;
width: 687px;
height: 149px;
left: 251px;
top: 596px;

background: #FFFFFF;
border: 1px solid #DADCDE;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.map {
    position: absolute;
    left: 974px;
    top: 429px;
}
button {
    position: absolute;
width: 149px;
height: 39px;
left: 629px;
top: 792px;

background: #F51D1D;
border-radius: 12px;
color: #fff;
}